n8n-workflows/backups/complete-workflow-with-emails.json
{
  "name": "HeyBuddy Contact Form - Complete with Emails",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0f6bd949-4e9a-4f4c-b9b1-b3cff418804d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-contact-form",
      "name": "Webhook - Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 460],
      "webhookId": "0f6bd949-4e9a-4f4c-b9b1-b3cff418804d"
    },
    {
      "parameters": {
        "jsCode": "// Extract form data from webhook\nconst formData = $input.item.json.body || $input.item.json;\n\n// Validate email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst isValidEmail = formData.email ? emailRegex.test(formData.email) : false;\n\n// Validate phone (UK format)\nconst phoneRegex = /^(\\+44\\s?7\\d{3}|\\(?07\\d{3}\\)?)\\s?\\d{3}\\s?\\d{3}$|^[\\d\\s\\-\\+\\(\\)]+$/;\nconst isValidPhone = formData.phone ? phoneRegex.test(formData.phone) : true;\n\n// Clean and structure data\nreturn {\n  name: formData.name?.trim() || 'Not provided',\n  email: formData.email?.toLowerCase().trim() || '',\n  phone: formData.phone?.trim() || 'Not provided',\n  company: formData.company?.trim() || 'Not provided',\n  message: formData.message?.trim() || '',\n  service: formData.service || 'Not specified',\n  budget: formData.budget || 'Not specified',\n  timeline: formData.timeline || 'Not specified',\n  source: formData.source || 'Website Contact Form',\n  isValidEmail: isValidEmail,\n  isValidPhone: isValidPhone,\n  submittedAt: new Date().toISOString(),\n  submittedDate: new Date().toLocaleDateString('en-GB'),\n  submittedTime: new Date().toLocaleTimeString('en-GB'),\n  leadScore: 0,\n  country: 'UK'\n};"
      },
      "id": "validate-data",
      "name": "Validate & Clean Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-email",
              "leftValue": "={{ $json.isValidEmail }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "valid-phone",
              "leftValue": "={{ $json.isValidPhone }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-validation",
      "name": "IF Valid Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "jsCode": "// Calculate lead score - UK Pricing\nconst data = $input.item.json;\nlet score = 0;\n\n// Budget scoring - UK Prices\nif (data.budget) {\n  const budget = data.budget.toLowerCase();\n\n  if (budget.includes('5000') || budget.includes('5,000') || budget.includes('£5k+') || budget.includes('5k+')) {\n    score += 30;\n  } else if (budget.includes('2000-5000') || budget.includes('2,000-5,000') || budget.includes('2k-5k')) {\n    score += 25;\n  } else if (budget.includes('1000-2000') || budget.includes('1,000-2,000') || budget.includes('1k-2k')) {\n    score += 20;\n  } else if (budget.includes('500-1000') || budget.includes('500-1,000') || budget.includes('500')) {\n    score += 15;\n  } else if (budget.includes('200-500') || budget.includes('200')) {\n    score += 10;\n  } else if (budget.includes('under 200') || budget.includes('<200') || budget.includes('150')) {\n    score += 5;\n  }\n}\n\n// Timeline scoring (urgency)\nif (data.timeline) {\n  const timeline = data.timeline.toLowerCase();\n  if (timeline.includes('asap') || timeline.includes('urgent') || timeline.includes('immediately')) {\n    score += 25;\n  } else if (timeline.includes('1 month') || timeline.includes('30 days')) {\n    score += 20;\n  } else if (timeline.includes('1-2 months')) {\n    score += 18;\n  } else if (timeline.includes('2-3 months')) {\n    score += 15;\n  } else if (timeline.includes('3-6 months')) {\n    score += 10;\n  } else if (timeline.includes('flexible') || timeline.includes('no rush')) {\n    score += 5;\n  }\n}\n\n// Service type scoring\nif (data.service) {\n  const service = data.service.toLowerCase();\n  if (service.includes('ai') || service.includes('chatbot') || service.includes('automation')) {\n    score += 20;\n  } else if (service.includes('premium') || service.includes('professional') || service.includes('e-commerce')) {\n    score += 15;\n  } else if (service.includes('business') || service.includes('web design')) {\n    score += 10;\n  } else if (service.includes('starter') || service.includes('basic')) {\n    score += 5;\n  }\n}\n\n// Company field present (serious inquiry)\nif (data.company && data.company !== 'Not provided' && data.company.length > 0) {\n  score += 10;\n}\n\n// Message length (detailed inquiry shows serious interest)\nif (data.message && data.message.length > 150) {\n  score += 10;\n} else if (data.message && data.message.length > 75) {\n  score += 5;\n}\n\n// Phone provided (easier to close)\nif (data.phone && data.phone !== 'Not provided' && data.phone.length > 0) {\n  score += 5;\n}\n\n// Determine priority based on UK pricing\nlet priority = 'Low';\nlet category = 'Cold Lead';\nlet recommendedAction = 'Send brochure and add to nurture sequence';\nlet urgency = '⚪';\n\nif (score >= 70) {\n  priority = 'High';\n  category = 'Hot Lead - £1,000+';\n  recommendedAction = 'URGENT: Call within 2 hours + Send calendar link';\n  urgency = '🔴';\n} else if (score >= 50) {\n  priority = 'Medium-High';\n  category = 'Warm Lead - £500-£1,000';\n  recommendedAction = 'Call within 24 hours + Send portfolio';\n  urgency = '🟠';\n} else if (score >= 30) {\n  priority = 'Medium';\n  category = 'Warm Lead - £200-£500';\n  recommendedAction = 'Send email with pricing + Book call';\n  urgency = '🟡';\n} else {\n  priority = 'Low';\n  category = 'Cold Lead - Under £200';\n  recommendedAction = 'Add to email nurture sequence';\n  urgency = '⚪';\n}\n\nreturn {\n  ...data,\n  leadScore: score,\n  priority: priority,\n  category: category,\n  recommendedAction: recommendedAction,\n  urgency: urgency\n};"
      },
      "id": "calculate-score",
      "name": "Calculate Lead Score (UK)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 360]
    },
    {
      "parameters": {
        "fromEmail": "info@heybuddydesign.com",
        "toEmail": "info@heybuddydesign.com",
        "subject": "={{ $json.urgency }} New Lead: {{ $json.name }} - {{ $json.category }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n    .lead-info { background: white; padding: 20px; margin: 20px 0; border-left: 4px solid #667eea; }\n    .score { font-size: 48px; font-weight: bold; color: #667eea; text-align: center; margin: 20px 0; }\n    .field { margin: 10px 0; }\n    .label { font-weight: bold; color: #667eea; }\n    .action { background: #667eea; color: white; padding: 15px; border-radius: 5px; margin: 20px 0; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>{{ $json.urgency }} New Lead Received!</h1>\n      <p>{{ $json.category }}</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"score\">Score: {{ $json.leadScore }}/100</div>\n      <div class=\"lead-info\">\n        <h2>Contact Information</h2>\n        <div class=\"field\"><span class=\"label\">Name:</span> {{ $json.name }}</div>\n        <div class=\"field\"><span class=\"label\">Email:</span> <a href=\"mailto:{{ $json.email }}\">{{ $json.email }}</a></div>\n        <div class=\"field\"><span class=\"label\">Phone:</span> {{ $json.phone }}</div>\n        <div class=\"field\"><span class=\"label\">Company:</span> {{ $json.company }}</div>\n      </div>\n      <div class=\"lead-info\">\n        <h2>Project Details</h2>\n        <div class=\"field\"><span class=\"label\">Service:</span> {{ $json.service }}</div>\n        <div class=\"field\"><span class=\"label\">Budget:</span> {{ $json.budget }}</div>\n        <div class=\"field\"><span class=\"label\">Timeline:</span> {{ $json.timeline }}</div>\n        <div class=\"field\"><span class=\"label\">Message:</span><br>{{ $json.message }}</div>\n      </div>\n      <div class=\"action\">\n        <h3>⚡ Recommended Action</h3>\n        <p>{{ $json.recommendedAction }}</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-team",
      "name": "Email - Team Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 360],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "HeyBuddy Email"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "info@heybuddydesign.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Thanks for contacting HeyBuddy Design, {{ $json.name }}! 🎉",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 0 auto; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 20px; text-align: center; }\n    .logo { font-size: 32px; font-weight: bold; margin-bottom: 10px; }\n    .content { padding: 40px 20px; background: #f9f9f9; }\n    .card { background: white; padding: 30px; border-radius: 10px; margin: 20px 0; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    h2 { color: #667eea; margin-top: 0; }\n    .highlight { background: #f0f4ff; padding: 20px; border-left: 4px solid #667eea; margin: 20px 0; }\n    .button { display: inline-block; background: #667eea; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; font-weight: bold; }\n    .footer { text-align: center; padding: 30px; background: #333; color: white; }\n    .pricing-note { background: #fff9e6; border: 2px solid #ffd700; padding: 15px; border-radius: 5px; text-align: center; font-weight: bold; color: #d97706; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"logo\">HeyBuddy Design</div>\n      <p style=\"font-size: 18px;\">Your Digital Buddy in the Cloud</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"card\">\n        <h2>Hi {{ $json.name }}! 👋</h2>\n        <p>Thank you for reaching out to HeyBuddy Design! We're excited to learn about your project.</p>\n        <div class=\"highlight\">\n          <strong>Your enquiry details:</strong><br>\n          <strong>Service:</strong> {{ $json.service }}<br>\n          <strong>Budget:</strong> {{ $json.budget }}<br>\n          <strong>Timeline:</strong> {{ $json.timeline }}\n        </div>\n      </div>\n      <div class=\"card\">\n        <h2>What Happens Next?</h2>\n        <ul>\n          <li>✅ We review your requirements</li>\n          <li>📞 We'll contact you within 24 hours</li>\n          <li>💡 Free consultation</li>\n          <li>📋 Custom proposal</li>\n        </ul>\n      </div>\n      <div class=\"card\">\n        <h2>Why Choose HeyBuddy Design?</h2>\n        <ul>\n          <li>💰 Affordable UK Pricing - From £150 to £5,000+</li>\n          <li>📅 Flexible Payment Plans - 4-6 months interest-free</li>\n          <li>🎨 Modern, Professional Design</li>\n          <li>🤖 AI & Automation</li>\n          <li>🇬🇧 UK-Based Support</li>\n        </ul>\n        <div class=\"pricing-note\">\n          🎁 Special Offer: 10% discount for new clients!\n        </div>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p><strong>HeyBuddy Design</strong></p>\n      <p>Your Digital Buddy in the Cloud ☁️</p>\n      <p>📧 info@heybuddydesign.com</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-customer",
      "name": "Email - Customer Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 360],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "HeyBuddy Email"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Thank you! We've received your enquiry and will be in touch within 24 hours.\",\n  \"leadScore\": {{ $json.leadScore }},\n  \"priority\": \"{{ $json.priority }}\"\n}"
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Please provide a valid email address and check your details.\"\n}"
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 560]
    }
  ],
  "connections": {
    "Webhook - Contact Form": {
      "main": [[{"node": "Validate & Clean Data", "type": "main", "index": 0}]]
    },
    "Validate & Clean Data": {
      "main": [[{"node": "IF Valid Data", "type": "main", "index": 0}]]
    },
    "IF Valid Data": {
      "main": [
        [{"node": "Calculate Lead Score (UK)", "type": "main", "index": 0}],
        [{"node": "Respond - Error", "type": "main", "index": 0}]
      ]
    },
    "Calculate Lead Score (UK)": {
      "main": [[{"node": "Email - Team Notification", "type": "main", "index": 0}]]
    },
    "Email - Team Notification": {
      "main": [[{"node": "Email - Customer Confirmation", "type": "main", "index": 0}]]
    },
    "Email - Customer Confirmation": {
      "main": [[{"node": "Respond - Success", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-26T02:00:00.000Z",
  "versionId": "1"
}
